{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> <!-- create a bulleted-list containing of the questions, where each question's link points to the question's detail page --> <!-- previously without 'polls' namespace<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>   --> <!-- previously partially hardcoded: <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}