<head>
    <title>Add a New Question</title>
</head>

{% extends 'polls/base.html' %}

{#{% load staticfiles %}#}
<!-- load static template page from the staticfiles template library -->

{#<link rel="stylesheet" type="text/css" href="{% static '/../../static/polls/css/style.css' %}" />#}
<!--  static  template tag generates the absolute URL of the static file -->

{% block main %}

<form action="" method="post">{% csrf_token %}
    <div class="field">
        {{ form.your_question.errors }}
        <label for="id_your_question">Question:</label>
        {{ form.your_question }}
    </div>
    <div class="field">
        {{ form.your_answer_a.errors }}
        <label for="id_your_answers_a">A:</label>
        {{ form.your_answer_a }}
    </div>
    <div class="field">
        {{ form.your_answer_b.errors }}
        <label for="id_your_answers_b">B:</label>
        {{ form.your_answer_b }}
    </div>
    <div class="field">
        {{ form.your_answer_c.errors }}
        <label for="id_your_answers_c">C:</label>
        {{ form.your_answer_c }}
    </div>
    <div class="field">
        {{ form.your_answer_d.errors }}
        <label for="id_your_answers_d">D:</label>
        {{ form.your_answer_d }}
    </div>
    <div class="field">
        {{ form.your_answer_e.errors }}
        <label for="id_your_answers_e">E:</label>
        {{ form.your_answer_e }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

{% endblock %}