{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mysite With Authentication{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="../../static/photos/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/photos/css/bootstrap-theme.min.css" rel="stylesheet">
    {#   <link href="static/css/fbposter.css" rel="stylesheet">#}

    <link rel="stylesheet" type="text/css" href="{% static 'photos/style.css' %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
	        </button>
            <a class="navbar-brand text-muted" href="/" title="Return home">My Site Home</a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" title="Return home"><span aria-hidden="true" data-icon="&#xe100;"></span>Home</a></li>
                    <li><a href="/polls" title="Check out our polls">Polls</a></li>
                    <!-- <span aria-hidden="true" data-icon="&#xe607;"></span> -->
                    <li class="dropdown" id="navPhotos">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Check out our photos uploader">Photos <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/photos/uploadfile">Upload Photo</a></li>
                            <li><a href="/photos/listfiles">List Files</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact" title="Contact us">Contact</a></li>
                    <!-- <span aria-hidden="true" data-icon="&#xe620;"></span> -->
                    <li class="dropdown">
                    {% if user and not user.is_anonymous %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Account">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a>Hello {{ user.get_full_name|default:user.username }}!</a>
                            </li>
                            <li>
                                <a href="{% url 'auth:logout' %}?next=/polls">Logout</a>
{#                                <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>#}
                            </li>
                        </ul>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Login or Signup">Login <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'social:begin' 'facebook' %}?next=/polls">Login with Facebook</a>
                                </li>
                                <li>
                                    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/polls">Login with Google</a>
                                </li>
                                <li>
                                    <a href="{% url 'social:begin' 'twitter' %}?next=/polls">Login with Twitter</a>
                                </li>
                            </ul>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
	</nav>
	<!-- End navbar -->

    <div class="main-content">
        <header id="title">
            <p>UPLOAD YOUR PICTURES</p>
        </header>

        {% block main %}{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/photos/js/jquery-1.11.1.min.js"></script>
    {#   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>#}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/photos/js/bootstrap.min.js"></script>
</body>
</html>